<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:asset.css identifier="list-css" href="{cb:assetPath()}/list.css"/>

<ul class="list-group">
    <f:for each="{data.list_group_item}" as="item">
        <li class="list-group-item d-flex justify-content-between {item.list_alignment}">
          {item.list_title}
          <span class="badge badge-primary badge-pill">{item.list_badge}</span>
        </li>
    </f:for>
</ul>

</html>