<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Preview"/>

<f:section name="Header">
    <cb:link.editRecord uid="{data.uid}" table="{data.mainType}">{data.header}</cb:link.editRecord>
</f:section>

<f:section name="Content">
    <f:for each="{data.card_group_item}" as="item" iteration="iteration">
        {item.card_title}
    </f:for>
</f:section>

<f:comment>
<!-- Uncomment to override preview footer -->
<f:section name="Footer">
    My custom Footer
</f:section>
</f:comment>
</html>